.btn-primary {
    background-color: $other-blue;
    font-weight: $light;
    padding: 10px 75px;
    border: 0;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: $blue;
}

.sumome-share-client-wrapper.sumome-share-client-wrapper-left-page {
    position: absolute !important;
    top: 340px !important;
    padding-left: 15px;
}

a[title="SumoMe"] {
    display: none !important;
}

div.sumome-control {
    display: none !important;
}

.sumome-control {
    display: none !important;
}

.btn-green {
    background-color: $green;
    font-weight: $light;
    padding: 10px 64px;
    border: 0;
    font-size: 16px;
    color: $white;
}

.btn-green:hover {
    background-color: $blue;
}

/*
a.um-button.um-button-social {
    padding: 5px 20px !important;
}
*/

// social sharing
img[alt*="facebook"] {
    content: url("../images/facebook_social.png");
    max-width: 35px !important;
    max-height: 35px !important;
}

img[alt*="linkedin"] {
    content: url("../images/linkedin_social.png");
    max-width: 35px !important;
    max-height: 35px !important;
}

.synved-social-resolution-single {
    display: block !important;
    margin-bottom: 0 !important;
}

.btn i {
    content: url("../images/twitter_social.png") !important;
}