// .gform_wrapper {
//  .gfield_time_hour label {
//      display: none;
//  }
// }
.ginput_container {
    @include respondTo(small) {
        width: 60%;
    }


    @include respondTo(mobile) {
        width: 60%;
    }


    @include respondTo(tablet) {
        width: 500px;
    }
}

.gform_footer {
    @include respondTo(small) {
        width: 60% !important;
    }


    @include respondTo(mobile) {
        width: 60% !important;
    }


    @include respondTo(tablet) {
        width: 500px !important;
    }
}

body #volunteer-job-detail .gform_wrapper .gform_body .gform_fields .gfield input[type=text] {
    color: $brand-primary !important;
}

body .gform_body input[type=text] {
    color: $brand-primary !important;
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=image], .gform_wrapper .gform_footer input[type=submit] {
    border: 0 !important;

    @include respondTo(small) {
        font-size: 14px;
    }


    @include respondTo(mobile) {
        font-size: 14px;
    }


    @include respondTo(tablet) {
        font-size: 18px;
    }


    @include respondTo(desktop) {
        font-size: 18px;
    }
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
    font-weight: $bold !important;
}

#contact-form {
    .gform_body {
        li {
            margin-top: 0;
            margin-bottom: 0;
        }

        @include respondTo(small) {
            padding-left: 15px;
            padding-right: 15px;
        }


        @include respondTo(mobile) {
            padding-left: 15px;
            padding-right: 15px;
        }


        @include respondTo(tablet) {
            padding-left: 100px;
            padding-right: 100px;
        }


        @include respondTo(desktop) {
            padding-left: 100px;
            padding-right: 100px;
        }
    }

    .gform_wrapper .top_label li.gfield.gf_left_half textarea, .gform_wrapper .top_label li.gfield.gf_right_half textarea {
        width: 50%;
    }

    .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
        @include respondTo(small) {
            margin-left: 15px;
        }


        @include respondTo(mobile) {
            margin-left: 15px;
        }


        @include respondTo(tablet) {
            margin-left: 100px;
        }


        @include respondTo(desktop) {
            margin-left: 100px;
        }
    }
}

/*  SOCIAL REGISTRATION */

.um-social-login-wrap {
    z-index: 1999993;
    overflow: scroll;
    -webkit-transform: translate3d(0, 0, 0);

    //position: fixed;
    top: 0;
    margin-left: 0 !important;
    box-sizing: border-box;
    border: 10px solid #fff;
    border-radius: 5px;

    @include respondTo(small) {
        left: 0 !important;
    }


    @include respondTo(mobile) {
        left: 0 !important;
    }


    @include respondTo(tablet) {
        left: 25% !important;
    }


    @include respondTo(desktop) {
        left: 35% !important;
    }


    .um-row {
        @include respondTo(small) {
            margin: 0 auto 30px auto !important;
        }


        @include respondTo(mobile) {
            margin: 0 auto 30px auto !important;
        }


        @include respondTo(tablet) {
            max-width: 2000px !important;
            margin: 0 auto 30px auto !important;
        }


        @include respondTo(desktop) {
            max-width: 2000px !important;
            margin: 0 auto 30px auto !important;
        }
    }

    .um {
        max-width: 100vw !important;
        width: 100vw !important;
    }

    .um-form {
        overflow: scroll;
    }

    .um-form-field {
        @include respondTo(small) {
            max-width: 200px;
        }


        @include respondTo(mobile) {
            max-width: 200px;
        }


        @include respondTo(tablet) {
            max-width: 400px;
        }


        @include respondTo(desktop) {
            max-width: 400px;
        }
    }
}

/* SEARCH */

div#search-form {
    input {
        border-radius: 0;
        border: 0;
    }

    button.search-submit {
        border-radius: 0;
        border: 0;
    }
}

.jobs-listing {
    #volunteer-filters {
        @include respondTo(desktop) {
            top: 120px;
        }
    }
}

div.text-input {
    @include respondTo(small) {
        margin: 0;
    }


    @include respondTo(mobile) {
        margin: 0;
    }


    @include respondTo(tablet) {
        margin: 0;
    }


    @include respondTo(desktop) {
        margin: 0;
    }
}

#volunteer-filters {
    label.text-input {
        font-family: $font-family-sans-serif;
        font-weight: $light;

        @include respondTo(small) {
            font-size: .9pc !important;
            color: $brand-primary;
        }


        @include respondTo(mobile) {
            font-size: .9pc !important;
            color: $brand-primary;
        }


        @include respondTo(tablet) {
            font-size: .9pc !important;
            color: $brand-primary;
        }


        @include respondTo(desktop) {
            font-size: .9pc !important;
            color: $white;
        }
    }

    .checkbox {
        padding: 0;
        border: 1px solid $white;

        @include respondTo(small) {
            background-color: $white;
            margin-top: 0;
            margin-bottom: 5px;
        }


        @include respondTo(mobile) {
            background-color: $white;
            margin-top: 0;
            margin-bottom: 5px;
        }


        @include respondTo(tablet) {
            background-color: $white;
            margin-top: 0;
            margin-bottom: 5px;
        }


        @include respondTo(desktop) {
            background-color: rgba(7, 45, 73, 0.6);
            margin-top: 5px;
            margin-bottom: 15px;
        }


        width: 100px;

        label {
            padding-left: 32px;
            font-family: $font-family-sans-serif;
            font-weight: $light;

            @include respondTo(small) {
                font-size: .9pc !important;
                color: $brand-primary;
            }


            @include respondTo(mobile) {
                font-size: .9pc !important;
                color: $brand-primary;
            }


            @include respondTo(tablet) {
                font-size: .9pc !important;
                color: $brand-primary;
            }


            @include respondTo(desktop) {
                font-size: .9pc !important;
                color: $white;
            }
        }
    }

    input[type=checkbox] {
        @include respondTo(small) {
            margin-top: 4px;
        }


        @include respondTo(mobile) {
            margin-top: 4px;
        }


        @include respondTo(tablet) {
            margin-top: 4px;
        }


        @include respondTo(desktop) {
            margin-top: 7px;
        }
    }

    button#submit {
        font-weight: $bold;
        padding: 10px 65px !important;
        border-radius: 0;

        @include respondTo(small) {
            width: 300px;
        }


        @include respondTo(mobile) {
            width: 300px;
        }


        @include respondTo(tablet) {
            width: 320px;
        }


        @include respondTo(desktop) {
            width: 320px;
        }
    }

    @include respondTo(small) {
        position: relative;
        max-width: 300px;
        margin: 0 auto !important;
        float: none;

        .form-group {
            margin-bottom: 5px;
        }

        input[type="date"] {
            padding-bottom: 5px !important;
            max-width: 300px;
            width: 300px;
        }

        /*
                select#interests {
                    max-width: 300px;
                    width: 300px;
                }
        
                select#industry {
                    max-width: 300px;
                    width: 300px;
                }
                */
    }


    @include respondTo(mobile) {
        position: relative;
        max-width: 300px;
        margin: 0 auto !important;
        float: none;

        .form-group {
            margin-bottom: 5px;
        }

        input[type="date"] {
            padding-bottom: 10px !important;
            max-width: 300px;
            width: 300px;
        }

        /*
        select#interests {
            max-width: 300px;
            width: 300px;
        }

        select#industry {
            max-width: 300px;
            width: 300px;
        }*/
    }


    @include respondTo(tablet) {
        position: relative;
        max-width: 427px;
        margin: 0 auto !important;
        float: none;

        .form-group {
            margin-bottom: 5px;
        }

        input[type="date"] {
            padding-bottom: 5px !important;
            max-width: 427px;
            width: 427px;
        }

        /*
        select#interests {
            max-width: 320px;
            width: 320px;
        }

        select#industry {
            max-width: 320px;
            width: 320px;
        }
        */
    }


    @include respondTo(desktop) {
        position: absolute;
        top: 235px;
        left: 2%;
        max-width: 427px;

        .form-group {
            margin-bottom: 15px;
        }

        input[type="date"] {
            padding-bottom: 0 !important;
            max-width: 200px;
            width: 200px;
        }

        /*
                select#interests {
                    max-width: 320px;
                    width: 320px;
                }
        
                select#industry {
                    max-width: 320px;
                    width: 320px;
                }
                */
    }


    .styled-select {
        background: url("../images/btn_arrow_down.png") no-repeat right;
        overflow: hidden;
    }

    select {
        border: 1px $white solid;
        border-radius: 0;
        -webkit-appearance: none;
        background: rgba(7, 45, 73, 0.6);
        color: #fff;
        font-weight: $light;
        background-image: linear-gradient(45deg, transparent 50%, white 50%), linear-gradient(135deg, white 50%, transparent 50%);
        background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
    }

    input[type="date"] {
        border: 1px $white solid;
        border-radius: 0;
        -webkit-appearance: none;
        background-color: rgba(7, 45, 73, 0.6);
        background-image: linear-gradient(45deg, transparent 50%, white 50%), linear-gradient(135deg, white 50%, transparent 50%);
        background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
        color: #fff;
        font-weight: $light;
        padding-left: 10px;
        padding-top: 5px;
    }

    input[type="text"] {
        border: 1px $white solid;
        border-radius: 0;
        -webkit-appearance: none;
        background-color: rgba(7, 45, 73, 0.6);
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
        color: #fff;
        font-weight: $light;
        padding-left: 10px;
        padding-top: 5px;
    }

    ::-webkit-input-placeholder {
        color: #fff;
        font-weight: $light;
        font-size: 14px;
        padding-bottom: 10px !important;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: #fff;
        font-weight: $light;
        font-size: 14px;
        padding-bottom: 10px !important;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff;
        font-weight: $light;
        font-size: 14px;
        padding-bottom: 10px !important;
    }

    :-ms-input-placeholder {
        color: #fff;
        font-weight: $light;
        font-size: 14px;
        padding-bottom: 10px !important;
    }
}

#volunteer-filters {
    ::-webkit-inner-spin-button {
        display: none;
    }

    input[type=date]::-webkit-calendar-picker-indicator {
        //-webkit-appearance: none;
        //display: none;
        background: none;
        padding-right: 15px;
        padding-top: 8px;
    }

    input[name="from_date"]:before {
        content: attr(placeholder) !important;
        color: #fff;
        margin-right: 23px;
    }

    input[name="to_date"]:before {
        content: attr(placeholder) !important;
        color: #fff;
        margin-right: 40px;
    }

    input[type="date"]:focus:before, input[type="date"]:valid:before {
        content: "";
    }
}