body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

// Grid system
.main {
    @include make-sm-column($main-sm-columns);

    .sidebar-primary & {
        @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
    }
}

.sidebar {
    @include make-sm-column($sidebar-sm-columns);
}

// map

.map-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16 / 9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16 / 9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url("../img/videoframe.jpg") center (center / cover) no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}