.navbar {
    margin-bottom: 0px;
    height: $navbar-height;

    @include respondTo(small) {
        margin-left: $navbar-height * 2;
    }


    @include respondTo(mobile) {
        margin-left: $navbar-height * 2;
    }


    @include respondTo(tablet) {
        margin-left: $navbar-height * 2;
    }


    @include respondTo(desktop) {
        margin-left: $navbar-height * 2;

        // margin-left: 240px;
    }
}

.navbar-default {
    border: 0px;
}

.navbar-brand {
    top: 0px;
    position: relative;

    @include respondTo(small) {
        background-image: url(../../dist/images/mobile-logo.png);
        background-size: $logo-height $logo-height;
        width: $logo-height;
        height: $logo-height;
        left: -$logo-height;
    }


    @include respondTo(mobile) {
        background-image: url(../../dist/images/mobile-logo.png);
        background-size: $logo-height $logo-height;
        width: $logo-height;
        height: $logo-height;
        left: -$logo-height;
    }


    @include respondTo(tablet) {
        background-image: url(../../dist/images/mobile-logo.png);
        background-size: $logo-height $logo-height;
        width: $logo-height;
        height: $logo-height;
        left: -$logo-height;
    }


    @include respondTo(desktop) {
        background-image: url(../../dist/images/mobile-logo.png);
        background-size: $logo-height $logo-height;
        width: $logo-height;
        height: $logo-height;
        left: -$logo-height;

        /*
        background: rgba(255, 255, 255, 0.5) url(../../assets/ff-logo-horizontal-full-color.svg) no-repeat;
        background-size: 270px 80px;
        width: 260px;
        height: 70px;
        left: -260px;
        position: absolute;
        margin-left: 0 !important;
        */
    }
}

// OVERRIDE NAVBAR COLLAPSE
@media (max-width: 3000px) {
    .navbar-header {
        float: none;

        #nav-search {
            position: absolute;
            top: 9px;
            right: 65px;
            cursor: pointer;
            background-color: transparent !important;

            img {
                width: 27px !important;
            }
        }

        #menu-button {
            background-color: transparent !important;
            top: 0px;
            right: 1px;
            position: absolute;
        }
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }
}

.navbar-default .navbar-toggle {
    // right: -40px;
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    height: 3px;
}

#full-menu {
    background: $brand-primary-opacity;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;

    @include respondTo(small) {
        left: -80px;
    }


    @include respondTo(mobile) {
        left: -80px;
    }


    @include respondTo(tablet) {
        left: -80px;
    }


    @include respondTo(desktop) {
        left: -80px;

        // left: -240px;
    }


    // display: table;
    // margin: 0 auto;
    // padding: 0;
    padding-bottom: 40px;
    text-align: center;

    ul.full-menu {
        margin-left: -20px;

        @include respondTo(small) {
            overflow: hidden;
            text-align: center;
            list-style-type: none;
            width: 100%;

            a.dropdown-toggle {
                font-family: $font-family-serif;
                font-size: 20px;
            }

            ul.dropdown-menu {
                li[class^='menu'] {
                    a {
                        font-family: $font-family-sans-serif;
                        font-size: 16px;
                        margin-left: -20px;
                    }
                }

                li[class^='active'] {
                    a {
                        font-family: $font-family-sans-serif;
                        font-size: 16px;
                        color: $aqua;
                        margin-left: 15px;
                    }
                }
            }

            li[class^='menu'] {
                a {
                    font-family: $font-family-serif;
                    font-size: 20px;
                }
            }

            li[class^='active'] {
                a {
                    font-family: $font-family-serif;
                    font-size: 20px;
                }
            }

            li {
                list-style-type: none;
                padding: 10px;
                text-align: center;
                padding-right: 7px;
            }

            li a {
                font-family: $font-family-sans-serif;
                font-size: 14px;
                font-weight: 300;
                color: $white;
                display: block;
            }

            li a:hover {
                color: $aqua;
                text-decoration: none;
            }
        }


        @include respondTo(tablet) {
            overflow: hidden;
            text-align: center;
            list-style-type: none;
            width: 100%;
            display: block;

            a.dropdown-toggle {
                font-family: $font-family-serif;
                font-size: 20px;
            }

            ul.dropdown-menu {
                text-align: left;

                li[class^='menu'] {
                    display: block;

                    a {
                        font-family: $font-family-sans-serif;
                        font-size: 16px;
                        margin-left: -30px;
                        color: $white;
                    }

                    a:hover {
                        color: $aqua;
                    }

                    a:active {
                        font-family: $font-family-sans-serif !important;
                        font-size: 16px !important;
                    }
                }

                li[class^='active'] {
                    a {
                        font-family: $font-family-sans-serif;
                        font-size: 16px;
                        color: $aqua;
                        margin-left: 15px;
                    }
                }
            }

            li[class^='menu'] {
                a {
                    font-family: $font-family-serif;
                    font-size: 20px;
                }
            }

            li[class^='active'] {
                a {
                    font-family: $font-family-serif;
                    font-size: 20px;
                    color: $aqua;
                }
            }

            li {
                list-style-type: none;
                padding: 10px;
                text-align: left;
                display: inline-block;
                padding-right: 7px;
            }

            li a {
                font-family: $font-family-sans-serif;
                font-size: 14px;
                font-weight: 300;
                color: $white;
                display: block;
            }

            li a:hover {
                color: $aqua;
                text-decoration: none;
            }
        }


        ul.sub-menu {
            margin-left: -40px;
        }

        ul.dropdown-menu {
            background-color: transparent;
            border: 0;
            min-width: 100%;

            a {
                background-color: transparent;
                color: $white;
            }

            a:hover {
                color: $aqua;
            }

            a:active {
                font-family: $font-family-sans-serif !important;
                font-size: 16px !important;
            }

            li[class^='active'] {
                a {
                    font-family: $font-family-sans-serif;
                    font-size: 16px;
                    color: $aqua;
                    margin-right: 20px;
                }
            }
        }
    }

    .dropdown-menu {
        position: relative;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    #close-button {
        top: 0px;
        right: 1px;
        position: absolute;
        cursor: pointer;
        background-color: transparent !important;

        img {
            width: 27px;
        }

        :hover {
            background-color: transparent !important;
        }
    }

    .primary-nav {
        // padding: 25% 0;
   
    }
}

.navbar-toggle:hover, .navbar-toggle:focus, .navbar-toggle:active, .navbar-toggle:visited {
    background-color: transparent !important;
}

.navbar-fixed-top {
    top: 0px;
}