html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.nopadding {
    margin: 0 !important;
    padding: 0 !important;
}

.black {
    color: #000;
}

.white {
    color: #FFF;
}

.light-gray {
    color: #CCC;
}

.gray {
    color: #999;
}

.dark-gray {
    color: #666;
}

.light-blue {
    color: #005696;
}

.blue {
    color: #072D49;
}

.other-blue {
    color: #0080E3;
}

.aqua {
    color: #0BB6ED;
}

.green {
    color: #33A72C;
}

.purple {
    color: #5873FF;
}

.orange {
    color: #DDA044;
}

.red {
    color: #A31410;
}

.pink {
    color: #CB2071;
}

.border-navy {
    border-bottom: 1px solid $blue;
}

.border-light-blue {
    border-bottom: 1px solid $light-blue;
}

.border-aqua {
    border-bottom: 1px solid $aqua;
}

.border-other-blue {
    border-bottom: 1px solid $other-blue;
}

.border-pink {
    border-bottom: 1px solid $pink;
}

.border-purple {
    border-bottom: 1px solid $purple;
}

.border-green {
    border-bottom: 1px solid $green;
}

.border-orange {
    border-bottom: 1px solid $orange;
}

ol {
    color: $blue;
    font-weight: $light;
    font-size: 16px;
}

body {
    @include respondTo(mobile) {
        font-size: 10px;
    }


    @include respondTo(tablet) {
        font-size: 14px;
    }


    @include respondTo(desktop) {
        font-size: 18px;
    }
}

.serif {
    font-family: $font-family-serif;
}

.sans-serif {
    font-family: $font-family-sans-serif;
}

#content {
    h3 {
        color: $blue;
    }

    b {
        color: $blue;
    }

    h2 {
        color: $blue;
        font-size: 26px;
    }

    ol {
        color: $blue;
    }
}