// Breakpoints for each query
$small: 320px;
$mobile: 480px;
$tablet: 768px;
$desktop: 992px;

@mixin respondTo($media) {
    @if $media == small {
        @media screen and (max-width: $mobile) {
            @content;
        }
    }

    @if $media == mobile {
        @media screen and (min-width: $mobile) {
            @content;
        }
    }
    @else if $media == tablet {
        @media screen and (min-width: $tablet) {
            @content;
        }
    }
    @else if $media == desktop {
        @media screen and (min-width: $desktop) {
            @content;
        }
    }
}

// Responsive image
// Keep images from scaling beyond the width of their parents.
@mixin imageResponsive($display: block) {
    display: $display;
    max-width: 100%;

    // Part 1: Set a maximum relative to the parent
    height: auto;

    // Part 2: Scale the height according to the width, otherwise you get stretching
}

@mixin backgroundSize($size) {
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -o-background-size: $size;
    background-size: $size;
    width: $size;
}

@mixin inputPlaceholder($map, $vendors: webkit moz ms) {
    @each $prop, $value in $map {
        @if $vendors {
            @each $vendor in $vendors {
                @if $vendor == webkit or $vendor == ms {
                    #{"::-" + $vendor + "-input-placeholder"} {
                        #{$prop}: #{$value};
                    }
                }
                @else {
                    #{":-" + $vendor + "-input-placeholder"} {
                        #{$prop}: #{$value};
                    }
                }
            }

            // Dump regular property anyway
            // #{$prop}: #{$value};
        }
    }
}

@mixin backgroundImage($url) {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin-top: -60px;
    margin-bottom: -10px;
    position: relative;
    // filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$url, sizingMethod='scale');
    // -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$url, sizingMethod='scale')";

    @include respondTo(small) {
        background: url($url);
        padding: 100px 20px;

        @include backgroundSize(cover);
    }


    @include respondTo(mobile) {
        background: url($url);
        background-repeat: no-repeat;
        padding: 100px 20px;

        @include backgroundSize(cover);
    }


    @include respondTo(tablet) {
        background: url($url);
        background-repeat: no-repeat;

        // padding: 120px;
        @include backgroundSize(cover);
    }


    @include respondTo(desktop) {
        background: url($url);
        background-repeat: no-repeat;

        //padding: 200px 200px 0px 200px;
        @include backgroundSize(cover);

        .container {
            padding-top: 100px;
        }
    }
}