h1, .h1 {
    font-size: 50px;
    color: $headings-color;
    line-height: 68px;
}

h2, .h2 {
    font-family: $font-family-sans-serif;
    font-weight: $light;
    font-size: 50px;
}

h3, .h3 {
    font-family: $font-family-sans-serif;
    font-size: 22px;
    line-height: 26px;
}

h4, .h4 {
    font-family: $font-family-sans-serif;
    font-size: 18px;
}

h5, .h5 {
    font-family: $font-family-sans-serif;
}

p, .p {
    font-family: $font-family-sans-serif;
    font-weight: $light;

    @include respondTo(small) {
        font-size: .8pc !important;
    }


    @include respondTo(mobile) {
        font-size: .8pc !important;
    }


    @include respondTo(tablet) {
        font-size: 1pc !important;
    }


    @include respondTo(desktop) {
        font-size: 1pc !important;
    }
}

i, .i {
    font-style: regular;
    font-size: 18px;
}

.large {
    font-size: 20px;
}

.light {
    font-weight: $light;
}

.regular {
    font-weight: $regular;
}

.bold {
    font-weight: $bold;
}

.highlight-black {
    background-color: $black;
    padding: 2px 8px;
}

.highlight-light-gray {
    background-color: $light-gray;
    padding: 2px 8px;
}

.highlight-gray {
    background-color: $gray;
    padding: 2px 8px;
}

.highlight-dark-gray {
    background-color: $dark-gray;
    padding: 2px 8px;
}

.highlight-light-blue {
    background-color: $light-blue;
    padding: 2px 8px;
}

.highlight-navy {
    background-color: $brand-primary;
    padding: 2px 8px;
}

.highlight-other-blue {
    background-color: #0080E3;
    padding: 2px 8px;
}

.highlight-aqua {
    background-color: $aqua;
    padding: 2px 8px;
}

.highlight-green {
    background-color: $green;
    padding: 2px 8px;
}

.highlight-purple {
    background-color: $purple;
    padding: 2px 8px;
}

.highlight-orange {
    background-color: $orange;
    padding: 2px 8px;
}

.highlight-red {
    background-color: $red;
    padding: 2px 8px;
}

.highlight-pink {
    background-color: $pink;
    padding: 2px 8px;
}

.highlight-yellow {
    background-color: $yellow;
    padding: 2px 8px;
}

.highlight-opacity {
    background-color: $brand-primary-opacity;
    padding: 2px;

    @include respondTo(tablet) {
        padding-left: 12px;
        padding-right: 12px;
    }


    @include respondTo(desktop) {
        padding-left: 12px;
        padding-right: 12px;
    }
}