// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

// Colors
$black: #000;
$white: #FFF;
$light-gray: #CCC;
$gray: #999;
$dark-gray: #666;
$light-blue: #005696;
$blue: #072D49;
$other-blue: #0080E3;
$aqua: #0BB6ED;
$green: #33A72C;
$purple: #5873FF;
$orange: #DDA044;
$red: #A31410;
$pink: #CB2071;
$yellow: #ffcc4c;

$brand-primary: $blue;
$brand-primary-opacity: rgba(7, 45, 73, 0.8);

// Typography
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;
$font-family-serif: "Bitter", "Times New Roman", Times, serif;
$font-family-base: $font-family-sans-serif;

// Weight
$light: 300;
$regular: 400;
$bold: 700;

// Header Fonts
$headings-font-family: $font-family-serif;
$headings-font-weight: bold;
$headings-line-height: 0.9;
$headings-color: rgb(255, 255, 255);

// Navbar
$navbar-default-bg: rgba(7, 45, 73, 0.8);
$navbar-default-border: 0;
$navbar-default-color: rgb(255, 255, 255);
$navbar-default-link-color: rgb(255, 255, 255);
$navbar-height: 40px;
$logo-height: $navbar-height * 2;

// Glyphicons font path
// $icon-font-path: "../../dist/fonts/";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");