.sumome-share-client-wrapper.sumome-share-client-wrapper-desktop-bottom-bar, .sumome-share-client-wrapper.sumome-share-client-wrapper-mobile-bottom-bar {
    width: auto !important;
}

.sumome-stylebufferbottom-shim {
    background-color: $brand-primary;
}

#tinymce {
    h1, h2, h3, h4, h5, p {
        color: $brand-primary;
    }
}

.detail-carousel {
    background-color: $aqua;
    height: 299px;
    margin: 40px 0;

    @include respondTo(tablet) {
        h1 {
            font-size: 20px;
            line-height: 27px;

            a {
                background-color: $blue;
                color: $white;
            }
        }
    }


    @include respondTo(desktop) {
        h1 {
            font-size: 30px;
            line-height: 41px;

            a {
                background-color: $blue;
                color: $white;
            }
        }
    }


    img .arrow-left {
        margin-top: -4px;
        margin-left: -3px;
    }

    img .arrow-right {
        margin-top: -3px;
        margin-left: -30px;
    }
}

.container-static {
    #volunteer-featured {
        @include respondTo(small) {
            margin-top: 0 !important;
        }


        @include respondTo(mobile) {
            margin-top: 0 !important;

            table.bottom-text {}
        }


        @include respondTo(tablet) {
            table.bottom-text {
                position: relative;
                margin-top: 50px !important;
            }
        }


        @include respondTo(desktop) {
            table.bottom-text {
                position: relative;
                margin-top: 50px !important;
            }
        }
    }
}

.container-static {
    padding-left: 15px;
    padding-right: 15px;
}

div.content-blue {
    h1, h2, h3, h4, h5, p {
        color: $brand-primary;
    }

    h1 {
        font-size: 24px;
    }

    h4 {
        padding-top: 20px;
    }

    ul {
        color: $brand-primary;
        font-family: $font-family-sans-serif;
        font-weight: 800;
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
    }

    ul li {
        margin-top: 12px;
    }

    ul li ul li {
        font-family: $font-family-sans-serif;
        font-weight: 400;
        margin-top: -3px;
        text-transform: none !important;
    }

    img {
        @include imageResponsive;
    }

    button.btn-primary {
        a {
            color: #fff;
        }

        @include respondTo(desktop) {}
    }
}

#tags {
    margin-top: 20px;
    margin-bottom: 20px;
}

#stamp {
    h5 {
        line-height: 16px;
    }

    background-color: $blue;
}

#spread-the-word {
    margin-top: 20px;
}

#author {
    margin-top: 20px;

    h5 {
        line-height: 16px;
    }
}

.job-details {
    h2 {
        margin-bottom: 40px;
    }

    h3 {
        font-size: 16px;
        margin-bottom: -17px;
    }

    .item {
        padding-bottom: 15px;
    }

    @include respondTo(small) {
        margin-top: 40px;
    }


    @include respondTo(mobile) {
        margin-top: 40px;
    }


    @include respondTo(tablet) {
        margin-top: 0;
    }


    @include respondTo(desktop) {
        margin-top: 0;
    }
}

#volunteer-job-detail {
    .content {
        p a {
            text-decoration: underline !important;
        }

        @include respondTo(small) {
            h1 {
                font-size: 25px !important;
                line-height: 37px !important;
            }
        }


        @include respondTo(mobile) {
            h1 {
                font-size: 25px !important;
                line-height: 37px !important;
            }
        }


        @include respondTo(tablet) {
            h1 {
                font-size: 40px !important;
                line-height: 59px !important;
            }
        }


        @include respondTo(desktop) {
            h1 {
                font-size: 40px !important;
                line-height: 59px !important;
            }
        }
    }
}

#detail-content {
    @include respondTo(small) {
        margin-top: 35px;
    }


    @include respondTo(mobile) {
        margin-top: 35px;
    }


    @include respondTo(tablet) {
        margin-top: 35px;
    }


    @include respondTo(desktop) {
        margin-top: 35px;
    }
}

#gravityform {
    @include respondTo(small) {
        margin-top: -100px;
    }


    @include respondTo(mobile) {
        margin-top: -100px;
    }


    @include respondTo(tablet) {
        margin-top: -100px;
    }


    @include respondTo(desktop) {
        margin-top: -100px;
    }
}