.main {
    padding: 15pt 0;

    // padding-top: 100px;
}

body {
    p {
        font-size: 16px;
    }
}

div#home.front-page {
    margin-top: -100px;

    img.front-page-banner {
        width: 800px;
        min-height: 100px;
        max-height: 550px;
    }

    section.banner {
        @include respondTo(small) {
            position: absolute;
            left: 0;
            right: 0;
            top: .6%;
        }


        @include respondTo(mobile) {
            position: absolute;
            left: 0;
            right: 0;
            top: 3.5%;
        }


        @include respondTo(tablet) {
            position: absolute;
            left: 0;
            right: 0;
            top: 4%;
        }


        @include respondTo(desktop) {
            position: absolute;
            left: 0;
            right: 0;
            top: 6%;
        }
    }
}

// social buttons
div#um-shortcode-social-204 a.um-button.um-button-google {
    padding: 4px 15px !important;
    border-radius: 0;
}

div#um-shortcode-social-204 a.um-button.um-button-linkedin {
    padding: 4px 15px !important;
    border-radius: 0;
}

div#home.startup {
    margin-top: -100px;

    @include respondTo(small) {
        img.startup-page-banner {
            width: 1200px;
            min-height: 100px;
            max-height: 1000px;
        }
    }


    @include respondTo(mobile) {
        img.startup-page-banner {
            width: 1200px;
            min-height: 100px;
            max-height: 1000px;
        }
    }


    @include respondTo(tablet) {
        img.startup-page-banner {
            width: 1200px;
            max-height: 1000px;
        }
    }


    @include respondTo(desktop) {
        img.startup-page-banner {
            width: 100vw;
            max-height: 110vh;
            height: 110vh;
        }
    }


    section.banner {
        @include respondTo(small) {
            position: absolute;
            left: 0;
            right: 0;
            top: .6%;
        }


        @include respondTo(mobile) {
            position: absolute;
            left: 0;
            right: 0;
            top: 3.5%;
        }


        @include respondTo(tablet) {
            position: absolute;
            left: 0;
            right: 0;
            top: 4%;
        }


        @include respondTo(desktop) {
            position: absolute;
            left: 0;
            right: 0;
            top: 8%;
        }
    }
}

div#home {
    section.sub-banner {
        height: 100%;

        //h1 {
        //    margin-bottom: 20px !important;
        //}

        @include respondTo(small) {
            background: url("../images/TOC_graphic_640_final.jpg") no-repeat center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            height: 0;
            padding-top: 100%;

            //margin-top: 20px;
            //margin-bottom: -10%;
        }


        @include respondTo(mobile) {
            background: url("../images/TOC_graphic_640_final.jpg") no-repeat center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            height: 0;
            padding-top: 100%;

            //margin-top: 20px;
            //margin-bottom: -10%;
        }


        @include respondTo(tablet) {
            background-image: url("../images/TOC_graphic_2880_final.jpg");
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            height: 0;
            padding-top: 35%;

            //margin-bottom: -5%;
        }


        @include respondTo(desktop) {
            background-image: url("../images/TOC_graphic_2880_final.jpg");
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            height: 0;
            padding-top: 35%;

            //margin-bottom: -7%;
        }
    }

    section.sub-banner-featured {
        margin-top: 0px;

        @include respondTo(small) {
            .row {
                //margin-top: 50px !important;
           
            }
        }


        @include respondTo(mobile) {
            .row {
                //margin-top: 50px !important;
           
            }
        }


        @include respondTo(tablet) {
            background-position: bottom !important;

            @include backgroundImage("../images/featured-events.jpg");

            height: 400px;

            .row {
                //margin-top: -50px !important;
           
            }
        }


        @include respondTo(desktop) {
            background-position: bottom !important;

            @include backgroundImage("../images/featured-events.jpg");

            height: 400px;

            .row {
                //margin-top: -50px !important;
           
            }
        }
    }

    .home-buttons {
        .btn-primary {}

        @include respondTo(small) {
            text-align: left;
            padding-left: 0px;

            input[value="Discover"] {
                float: left !important;
                margin-bottom: 10px;
            }
        }


        @include respondTo(mobile) {
            text-align: left;
            margin-top: 20px;

            input[value="Discover"] {
                float: left !important;
                margin-bottom: 10px;
            }
        }


        @include respondTo(tablet) {
            text-align: center;
            margin-top: 40px;

            input[value="Discover"] {
                float: right !important;
                margin-bottom: 20px;
            }
        }


        @include respondTo(desktop) {
            text-align: center;
            margin-top: 80px;
            padding-bottom: 80px;

            input[value="Discover"] {
                float: right !important;
                margin-bottom: 20px;
            }
        }
    }

    .content {
        @include respondTo(small) {
            margin-top: 150px;
        }


        @include respondTo(mobile) {
            margin-top: 30px;
        }


        @include respondTo(tablet) {
            margin-top: -10px;
        }


        @include respondTo(desktop) {
            margin-top: -10px;
        }
    }
}

.home-body {
    @include respondTo(small) {
        margin-top: -18px;
    }


    @include respondTo(mobile) {
        margin-top: -39px;
    }


    @include respondTo(tablet) {
        margin-top: -25px;
    }


    @include respondTo(desktop) {
        margin-top: -25px;
    }
}

.banner {
    .home-heading, .home-body, .home-buttons {
        h1 span {
            line-height: 73px;
        }

        @include respondTo(small) {
            text-align: center;

            p {
                margin-top: -29px;
                line-height: 21px;
                font-size: 12px;
            }

            span {
                .highlight-opacity {
                    padding: 0;
                }

                line-height: 18px;
            }

            h1 {
                font-size: 24px;
                line-height: 51px;
            }
        }


        @include respondTo(mobile) {
            text-align: center;

            p {
                margin-top: 18px;
            }

            span {
                line-height: 26px;
            }
        }


        @include respondTo(tablet) {
            text-align: center;

            p {
                margin-top: 18px;
            }

            span {
                line-height: 26px;
            }
        }


        @include respondTo(desktop) {
            text-align: center;

            p {
                //margin-top: 18px;
           
            }

            span {
                //line-height: 26px;
           
            }
        }
    }
}

section.featured-news {
    @include respondTo(small) {
        text-align: left;
    }


    @include respondTo(mobile) {
        text-align: left;
    }


    @include respondTo(tablet) {
        text-align: left;
    }


    @include respondTo(desktop) {
        text-align: left;
    }


    #news-post {
        margin-top: -20px;

        h3 {
            line-height: 26px;
        }
    }
}

div.links-header {
    margin: 0px !important;

    @include respondTo(small) {
        h3 {
            font-size: 24px;
            color: $blue;
            line-height: 26px;
        }
    }


    @include respondTo(mobile) {
        h3 {
            font-size: 24px;
            color: $blue;
            line-height: 26px;
        }
    }


    @include respondTo(tablet) {
        h3 {
            font-size: 36px;
            color: $blue;
            line-height: 34px;
            padding-bottom: 30px;
        }
    }


    @include respondTo(desktop) {
        h3 {
            font-size: 36px;
            color: $blue;
            line-height: 34px;
            padding-bottom: 30px;
        }
    }


    p {
        font-family: $font-family-serif;
    }

    h4 {
        color: $blue;
        font-family: $font-family-serif;
    }
}

div.links {
    h2 {
        color: $blue;
        font-size: 36px;

        //padding-top: 30px;
   
    }

    @include respondTo(small) {
        font-size: 14px;
        padding-bottom: 30px;
    }


    @include respondTo(mobile) {
        font-size: 14px;
        padding-bottom: 30px;
    }


    @include respondTo(tablet) {
        font-size: 18px;
        padding-bottom: 30px;
    }


    @include respondTo(desktop) {
        font-size: 18px;
        padding-bottom: 30px;
    }
}

.content-links {
    h4 {
        font-family: $font-family-serif;
        font-weight: 300;
    }

    @include respondTo(small) {
        margin-top: 0;

        h4 {
            font-size: 14px;
        }
    }


    @include respondTo(mobile) {
        margin-top: 0;

        h4 {
            font-size: 14px;
        }
    }


    @include respondTo(tablet) {
        margin-top: 0px;

        h4 {
            font-size: 16px;
        }
    }


    @include respondTo(desktop) {
        h4 {
            font-size: 16px;
        }

        margin-top: -60px;
        padding-bottom: 100px;
    }


    div#news {
        margin-top: 0px;
        margin-bottom: -20px;

        @include respondTo(small) {
            padding-top: 10px;
        }


        @include respondTo(mobile) {
            padding-top: 20px;
        }


        @include respondTo(tablet) {
            padding-top: 20px;
        }


        @include respondTo(desktop) {
            padding-top: 100px;
        }


        .links-header {
            h3 {
                line-height: 24px;
            }

            @include respondTo(small) {}


            @include respondTo(mobile) {}


            @include respondTo(tablet) {}


            @include respondTo(desktop) {
                padding-bottom: 22px;
            }
        }

        .featured-img {
            margin-left: -30px;
            width: 150px;
            height: 150px;
            padding-bottom: 20px;
            padding-right: 20px;

            img {
                width: 100%;
                height: 100%;
                max-width: 150px;
                max-height: 150px;
                object-fit: cover;
            }
        }

        .news-header {
            h3 {
                line-height: 26px;
            }

            float: left;

            a {
                font-weight: 300;
            }

            @include respondTo(small) {
                a {
                    font-size: 14px;
                    line-height: 14px;
                    color: $blue;
                }
            }


            @include respondTo(mobile) {
                a {
                    font-size: 14px;
                    line-height: 14px;
                    color: $blue;
                }
            }


            @include respondTo(tablet) {
                a {
                    font-size: 36px;
                    line-height: 40px;
                    color: $blue;
                }
            }


            @include respondTo(desktop) {
                a {
                    font-size: 20px;
                    line-height: 20px;
                    color: $blue;
                }
            }
        }

        .news-row {
            @include respondTo(small) {}


            @include respondTo(mobile) {}


            @include respondTo(tablet) {
                height: 200px;
            }


            @include respondTo(desktop) {
                height: 145px;
            }
        }
    }

    div#ignite {
        margin-top: 0px;

        @include respondTo(small) {
            padding-top: 10px;
        }


        @include respondTo(mobile) {
            padding-top: 20px;
        }


        @include respondTo(tablet) {
            padding-top: 20px;
        }


        @include respondTo(desktop) {
            padding-top: 100px;
        }
    }

    div#startup {
        margin-top: 0px;

        @include respondTo(small) {
            padding-top: 10px;
        }


        @include respondTo(mobile) {
            padding-top: 20px;
        }


        @include respondTo(tablet) {
            padding-top: 20px;
        }


        @include respondTo(desktop) {
            padding-top: 100px;
        }
    }
}

section.bottom-banners {
    margin-top: 0px;
    margin-bottom: -90px;
}

section.info-banner-discover {
    @include backgroundImage("../images/discover.jpg");

    height: 400px;
    margin-top: 0px;
    background-position: bottom !important;

    @include respondTo(small) {
        .row {
            margin-top: -20px !important;
        }
    }
}

section.info-banner-ignite {
    @include backgroundImage("../images/ignite.jpg");

    height: 400px;
    margin-top: 0px;
    background-position: center !important;

    @include respondTo(small) {
        .row {
            margin-top: -20px !important;
        }
    }
}

section.info-banner-startup {
    @include backgroundImage("../images/startup_cropped.jpg");

    height: 400px;
    margin-top: 0px;
    background-position: center !important;

    @include respondTo(small) {
        .row {
            margin-top: -20px !important;
        }
    }
}

section#discover {
    width: 100%;

    @include respondTo(small) {
        height: 400px;
    }


    .home-heading {
        text-align: center;
    }
}

section#ignite {
    width: 100%;

    @include respondTo(small) {
        height: 400px;
    }


    .home-heading {
        text-align: center;
    }
}

section#startup {
    width: 100%;

    @include respondTo(small) {
        height: 400px;
    }


    .home-heading {
        text-align: center;
    }
}

.col-centered {
    display: inline-block;
    float: none;

    /* reset the text-align */
    text-align: left;

    /* inline-block space fix */
    margin-right: -4px;
}

.sub-banner {
    #volunteer-featured {
        padding: 0 !important;

        * {
            color: #fff;
        }
    }
}

.startup-listing {
    @include respondTo(small) {
        padding-top: 20px;
    }


    @include respondTo(mobile) {
        padding-top: 20px;
    }


    @include respondTo(tablet) {
        padding-top: 100px;
    }


    @include respondTo(desktop) {
        padding-top: 100px;
    }
}

button#google {
    background-color: $red;
}

#profile-featured {
    section.sub-banner {
        @include backgroundImage("../images/theory_of_change.jpg");

        //margin-top: 100px;
        @include respondTo(small) {
            margin-top: 0;
        }


        h1 {
            margin-bottom: 20px !important;
        }
    }
}

.image-thumbnail {
    height: 110px;

    @include imageResponsive;
}

video#bgvid {
    position: relative;
    right: 0;
    bottom: 0;
    z-index: -100;
    background-size: cover;

    @include respondTo(desktop) {
        width: 100vw;
    }
}

.startup-featured-news {
    width: 300px;
    height: 300px;
    overflow: hidden;
    padding-top: 20px;

    img {
        width: 100%;
    }

    @include respondTo(small) {
        margin-left: -35px;
    }


    @include respondTo(mobile) {
        margin-left: 0;
    }


    @include respondTo(tablet) {
        margin-left: 0;
    }


    @include respondTo(desktop) {
        margin-left: 0;
    }
}