/* BEGIN ALL LISTINGS */
#filter-body {
    h4 {
        font-family: $font-family-serif;
    }

    h5 {
        font-weight: $light;
    }

    table tr td {
        padding: 5px;
    }

    a:link {
        text-decoration: underline;
    }
}

#title {
    margin-top: -20px;
}

#category {
    margin-top: -10px;
}

#category-title {
    font-family: $font-family-serif;
    margin-bottom: 4px;
}

.listing-cards {
    margin-top: 40px;
}

.listing-header {
    @include respondTo(small) {
        text-align: center;

        p {
            margin-top: -29px;
            line-height: 21px;
            font-size: 12px;
        }

        span {
            .highlight-opacity {
                padding: 0;
            }

            line-height: 18px;
        }

        h1 {
            font-size: 24px;
            line-height: 51px;
        }
    }


    @include respondTo(mobile) {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }


    @include respondTo(tablet) {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }


    @include respondTo(desktop) {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 160px;
    }
}

div.news-listing {
    margin-top: -100px;

    section.banner {
        @include backgroundImage("../images/startup_news.jpg");

        background-position: center;

        @include respondTo(small) {
            padding: 100pt 0;
            margin-top: 80px;
            background-position: center;
        }
    }
}

div.events-listing {
    margin-top: -100px;

    section.banner {
        @include backgroundImage("../images/startup-events.jpg");

        background-position: center;

        @include respondTo(small) {
            padding: 100pt 0;
            margin-top: 80px;
            background-position: center;
        }
    }
}

div.jobs-listing {
    margin-top: -100px;

    section.banner {
        @include backgroundImage("../images/startup-jobs.jpg");

        background-position: center;

        @include respondTo(small) {
            padding: 100pt 0;
            margin-top: 80px;
            background-position: center;
        }
    }
}

div.volunteer-listing {
    margin-top: -100px;

    section.banner {
        @include backgroundImage("../images/volunteer-listing-image.jpg");

        background-position: 100% !important;

        @include respondTo(small) {
            padding: 100pt 0;
            margin-top: 80px;
            background-position: center;
        }
    }
}

div.ffnews-listing {
    margin-top: -100px;

    section.banner {
        @include backgroundImage("../images/startup-jobs.jpg");

        background-position: center;

        @include respondTo(small) {
            padding: 100pt 0;
            margin-top: 80px;
            background-position: center;
        }
    }
}

div.ffevents-listing {
    margin-top: -100px;

    section.banner {
        @include backgroundImage("../images/startup-jobs.jpg");

        background-position: center;

        @include respondTo(small) {
            padding: 100pt 0;
            margin-top: 80px;
            background-position: center;
        }
    }
}

#sponsor-footer {
    //margin-bottom: -100px;
}