#staff {
    #staff-title {
        margin-top: -5px;
    }

    #staff-company {
        margin-top: -5px;
        font-weight: 600;
    }

    h2 {
        font-family: $font-family-serif;
        font-weight: 600;
        font-size: 36px;
    }
}

#community-advisory {
    table {
        margin: 0 auto;
    }

    td {
        text-align: left;
        padding: 5px 15px;
        color: $blue;
        font-size: 14px;

        @include respondTo(small) {
            font-size: 10px;
        }


        @include respondTo(mobile) {
            font-size: 10px;
        }


        @include respondTo(tablet) {
            font-size: 14px;
        }


        @include respondTo(desktop) {
            font-size: 14px;
        }
    }

    tr:nth-child(even) {
        background-color: #cccccc;
    }
}