div.um-name {
    margin-top: 80px;
    text-transform: uppercase;

    a {
        color: $brand-primary !important;
        font-family: $font-family-serif;
    }
}

.um-profile-edit {
	top: 100px;
	right: 100px;
}

.profile {
	margin-top: -100px;
}

.um-field-label {
	label {
		color: $brand-primary;
	}
}