h1, .h1 {
    @include respondTo(small) {
        font-size: 25px;
        line-height: 37px;
    }


    @include respondTo(mobile) {
        font-size: 25px;
        line-height: 37px;
    }


    @include respondTo(tablet) {
        font-size: 40px;
        line-height: 59px;
    }


    @include respondTo(desktop) {
        font-size: 40px;
        line-height: 59px;
    }
}

/* VOLUNTEER CTA */

#volunteer-cta {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    //height: 100vh;
    z-index: -100;
    background-size: cover;

    @include respondTo(small) {
        background: url(../images/home-cta-4.jpg);
        background-repeat: no-repeat;

        @include backgroundSize(100%);

        width: 100%;
        height: 600px;
        margin-top: -40px;
    }


    @include respondTo(mobile) {
        background: url(../images/home-cta-5.jpg);
        background-repeat: no-repeat;
        margin-top: -100px;
        width: 100%;
        height: 105vh;
        margin-top: -20px;

        @include backgroundSize(100%);
    }


    @include respondTo(tablet) {
        background: url(../images/home-cta-5.jpg);
        background-repeat: no-repeat;
        width: 10vw;
        height: 105vh;

        @include backgroundSize(100%);

        margin-top: -100px;
    }


    @include respondTo(desktop) {
        background: url(../images/home-cta-6.jpg);
        background-repeat: no-repeat;
        width: 100vw;
        height: 700px;

        @include backgroundSize(100%);

        margin-top: -20px;
    }
}

.volunteer-cta-text {
    text-align: center;

    @include respondTo(small) {
        padding: 45% 30px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }


    @include respondTo(mobile) {
        padding: 35% 30px;
        margin-bottom: 0px;
        position: absolute;
        left: 0;
        right: 0;
        top: 5%;
    }


    @include respondTo(tablet) {
        padding: 35% 40px;
        position: absolute;
        left: 0;
        right: 0;
        top: 5%;
    }


    @include respondTo(desktop) {
        padding: 100px 30px 30px 45px;
        position: absolute;
        left: 0;
        right: 0;
        top: 8%;
    }


    .home-heading {
        margin: 0 auto;
    }

    .home-heading, .home-body, .home-buttons {
        h1 span {
            line-height: 73px;
        }

        @include respondTo(small) {
            p {
                margin-top: -29px;
                line-height: 21px;
                font-size: 12px;
            }

            span {
                .highlight-opacity {
                    padding: 0;
                }

                line-height: 18px;
            }

            h1 {
                font-size: 24px;
                line-height: 51px;
            }
        }


        @include respondTo(mobile) {
            p {
                margin-top: 18px;
            }

            span {
                line-height: 26px;
            }
        }


        @include respondTo(tablet) {
            p {
                margin-top: 18px;
            }

            span {
                line-height: 26px;
            }
        }


        @include respondTo(desktop) {
            p {
                //margin-top: 18px;
           
            }

            span {
                //line-height: 26px;
           
            }
        }
    }
}

/*.volunteer-cta-text {
    @include respondTo(small) {
        padding-top: 140px;
        padding-left: 15px;

        span {
            background-color: $brand-primary;
            color: $white;
        }

        p {
            margin-top: -30px !important;
            line-height: 19px;
        }

        h1 {
            line-height: 80px;
        }

        .highlight-opacity {
            padding: 0;
        }
    }


    @include respondTo(mobile) {
        padding: 120px 30px 30px;
        margin-bottom: 0px;

        span {
            background-color: $brand-primary;
            color: $white;
        }

        p {
            margin-top: -10px;
        }

        h1 {
            line-height: 108px;
        }
    }


    @include respondTo(tablet) {
        padding: 120px 30px 30px 30px;

        p {
            margin-top: -10px;
        }

        h1 {
            line-height: 108px;
        }
    }


    @include respondTo(desktop) {
        padding: 100px 30px 30px 30px;

        p {
            font-size: 20px;
            margin-top: -10px;
        }

        h1 {
            line-height: 108px;
        }
    }
}
*/

div.listing-body {
    @include respondTo(small) {
        margin-bottom: 30px;

        h5 {
            font-size: 12px;
        }

        div#register-text a {
            font-size: 12px;
        }
    }


    @include respondTo(mobile) {
        margin-bottom: 30px;

        h5 {
            font-size: 12px;
        }

        div#register-text a {
            font-size: 12px;
        }
    }


    @include respondTo(tablet) {
        margin-bottom: 50px;

        .name-text {
            height: 65px;
        }
    }


    @include respondTo(desktop) {
        margin-bottom: 50px;

        .name-text {
            height: 65px;
        }
    }


    h5 {
        margin-bottom: 4px;
        font-weight: bold;
    }

    h3 {
        line-height: 26px;
    }

    #date-text {
        text-align: left;

        @include respondTo(small) {
            h5 {
                font-size: 12px;
            }
        }


        @include respondTo(mobile) {
            h5 {
                font-size: 12px;
            }
        }


        @include respondTo(tablet) {
            h5 {
                font-size: 16px;
            }
        }


        @include respondTo(desktop) {
            h5 {
                font-size: 16px;
            }
        }
    }

    #remaining-text {
        text-align: right;
    }

    #time-text {
        h4 {
            margin-top: 4px;
        }
    }

    #location-text {
        margin-top: -5px;

        h5 {
            white-space: nowrap;
        }

        @include respondTo(small) {
            h5 {
                font-size: 12px;
            }
        }


        @include respondTo(mobile) {
            h5 {
                font-size: 12px;
            }
        }


        @include respondTo(tablet) {
            h5 {
                font-size: 16px;
            }
        }


        @include respondTo(desktop) {
            h5 {
                font-size: 16px;
            }
        }
    }

    #register-text {
        text-align: right;
        font-weight: bold;

        @include respondTo(small) {
            a {
                font-size: 12px;
            }
        }


        @include respondTo(mobile) {
            a {
                font-size: 12px;
            }
        }


        @include respondTo(tablet) {
            a {
                font-size: 16px;
            }
        }


        @include respondTo(desktop) {
            a {
                font-size: 16px;
            }
        }
    }
}

.volunteer-heading {
    @include respondTo(small) {
        margin-bottom: 10px;
    }


    @include respondTo(mobile) {}


    @include respondTo(tablet) {
        text-align: center;
    }


    @include respondTo(desktop) {
        text-align: center;
    }
}

/* ABOUT */

#volunteer-about {
    .mentor {
        border-bottom: 1px solid $light-blue;
    }

    .speak {
        border-bottom: 1px solid $pink;
    }

    .facilitate {
        border-bottom: 1px solid $purple;
    }

    @include respondTo(small) {}


    @include respondTo(mobile) {}


    @include respondTo(tablet) {
        margin-top: 80px;
        text-align: center;
    }


    @include respondTo(desktop) {
        margin-top: 80px;
        text-align: center;
    }
}

/* FEATURED */

#volunteer-featured {
    margin-top: -40px;

    h2 {
        font-size: 36px;
    }

    @include respondTo(small) {
        h1 {
            font-size: 24px;
        }
    }


    @include respondTo(mobile) {
        margin-left: 0;
        margin-right: 0;
    }


    @include respondTo(tablet) {
        margin: 0 auto;
        padding: 0;
    }


    @include respondTo(desktop) {
        //text-align: center;
        margin: 0 auto;
    }
}

.form {
    margin-top: -80px;
}

body .gform_wrapper {
    .gfield_label {
        //visibility: hidden;
   
    }

    .gfield {
        margin-top: -15px;
    }

    @include respondTo(small) {
        @include inputPlaceholder((color: $white, font-size: 14px, font-weight: $light), webkit);

        input {
            background-color: $brand-primary;
        }
    }


    @include respondTo(mobile) {
        @include inputPlaceholder((color: $white, font-size: 14px, font-weight: $light), webkit);

        input {
            background-color: $brand-primary-opacity;
        }
    }


    @include respondTo(tablet) {
        @include inputPlaceholder((color: $white, font-size: 14px, font-weight: $light), webkit);

        input {
            background-color: $brand-primary-opacity;
        }
    }


    @include respondTo(desktop) {
        @include inputPlaceholder((color: $white, font-size: 14px, font-weight: $light), webkit);

        input {
            background-color: $brand-primary-opacity;
        }
    }
}

body .gform_wrapper .gform_body .gform_fields .gfield input[type=text] {
    font-family: $font-family-sans-serif;
    font-weight: $light;
    color: $white !important;
    background-color: rgba(7, 45, 73, 0.6) !important;
    border: 1px $white solid;
    border-radius: 0;
    -webkit-appearance: none;
    margin: 10px;
    margin-left: 0px !important;

    @include respondTo(small) {
        padding: 6px;
        padding-left: 10px;
        width: 97.5%;
        font-size: 12px;
    }


    @include respondTo(mobile) {
        padding: 6px;
        padding-left: 10px;
        width: 97.5%;
        font-size: 12px;
    }


    @include respondTo(tablet) {
        padding: 6px;
        padding-left: 10px;
        width: 50%;
        font-size: 12px;
    }


    @include respondTo(desktop) {
        padding: 6px;
        padding-left: 10px;
        width: 50%;
        font-size: 12px;
    }
}

body .gform_wrapper_12 label.gfield_label + div.ginput_container {
    @include respondTo(desktop) {
        margin-top: -15px !important;
    }
}

body .gform_footer .top_label {
    @include respondTo(desktop) {
        margin-top: 2px !important;
    }
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
    margin-top: -7px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: $green;
    color: $white;
    text-align: left;
    font-weight: $light;

    @include respondTo(small) {
        width: 97.5%;
    }


    @include respondTo(mobile) {
        width: 50%;
    }


    @include respondTo(tablet) {
        width: 50%;
    }


    @include respondTo(desktop) {
        width: 50%;
    }
}

#gform_wrapper_12 {
    label.gfield_label {
        display: none !important;
    }
}

div.gform_body {
    li {
        margin-top: 30px;
        margin-bottom: 30px;
        margin: 0 auto;
    }

    @include respondTo(small) {
        margin-top: 80px;

        //margin-left: 30%;

        //margin: 0 auto;
    }


    @include respondTo(mobile) {
        margin-top: 80px;

        //margin-left: 30%;

        //margin: 0 auto;
    }


    @include respondTo(tablet) {
        margin-left: 0;
    }


    @include respondTo(desktop) {
        margin-top: -100px;
        margin-left: 0;
    }
}