footer.content-info {
    background-color: $brand-primary;
    padding-top: 100px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: table;

    ul {
        padding: 0;

        @include respondTo(desktop) {
            overflow: hidden;
            margin-left: -8px;
        }
    }

    li {
        list-style-type: none;
        padding: 20px;
        width: 135px !important;

        @include respondTo(desktop) {
            text-align: left;
            padding: 5px;
            float: left;
            list-style-type: none;
        }
    }

    a {
        font-family: $font-family-serif;
        font-size: 18px;
        color: $white;
        display: block;
        width: 100%;
    }

    a:hover {
        color: $aqua;
        text-decoration: none;
    }

    p {
        font-size: 20px;
    }

    .menu {
        display: table;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 40px;
    }

    ul.sub-menu {
        overflow: hidden;
        text-align: center;

        li {
            list-style-type: none;
            float: none;

            @include respondTo(tablet) {
                margin-left: 4px;
            }


            @include respondTo(small) {
                margin-left: -20px;
            }
        }

        li a {
            font-family: $font-family-sans-serif;
            font-size: 14px;
            font-weight: 300;
            color: $light-gray;
            display: block;

            @include respondTo(tablet) {
                text-align: left;
            }
        }

        li a:hover {
            color: $aqua;
            text-decoration: none;
        }
    }
}

#address {
    p {
        color: $white;
        font-size: 14px;
        line-height: 10px;
    }
}

#copyright {
    margin-top: 40px;

    p {
        font-size: 14px;
        color: $light-gray;
    }
}

#sponsor-message {
    border-top: 1px $black solid;
    border-bottom: 1px $black solid;
    padding: 70px;
    text-align: center;
}

#sponsors {
    padding: 40px;
    text-align: center;
}

#logo {
    padding-bottom: 50px;

    img {
        width: 200px;
    }
}

#social {
    padding-bottom: 35px;

    img {
        width: 35px;
        padding: 5px;
    }

    @include respondTo(medium) {
        .col-md-1 {
            width: 4% !important;
        }

        .col-md-4 {
            width: 42% !important;
        }
    }
}