#logo-menu {
    padding-bottom: 50px;
    padding-top: 50px;

    img {
        width: 200px;
    }
}

#full-search {
    background: $brand-primary-opacity;
    position: absolute;
    top: 0;
    right: 0;
    left: -80px;
    bottom: 0;
    height: 100vh;

    // display: table;
    // margin: 0 auto;
    // padding: 0;
    padding-bottom: 40px;
    text-align: center;

    ul.full-menu {
        margin-left: -20px;

        @include respondTo(small) {
            overflow: hidden;
            text-align: center;
            list-style-type: none;
            width: 100%;

            a.dropdown-toggle {
                font-family: $font-family-serif;
                font-size: 20px;
            }

            ul.dropdown-menu {
                li[class^='menu'] {
                    a {
                        font-family: $font-family-sans-serif;
                        font-size: 16px;
                        margin-left: -20px;
                    }
                }

                margin-left: -10;
            }

            li[class^='menu'] {
                a {
                    font-family: $font-family-serif;
                    font-size: 20px;
                }
            }

            li[class^='active'] {
                a {
                    font-family: $font-family-serif;
                    font-size: 20px;
                }
            }

            li {
                list-style-type: none;
                padding: 10px;
                text-align: left;
                padding-right: 7px;
            }

            li a {
                font-family: $font-family-sans-serif;
                font-size: 14px;
                font-weight: 300;
                color: $white;
                display: block;
            }

            li a:hover {
                color: $aqua;
                text-decoration: none;
            }
        }


        @include respondTo(mobile) {
            overflow: hidden;
            text-align: center;
            list-style-type: none;
            width: 100%;

            a.dropdown-toggle {
                font-family: $font-family-serif;
                font-size: 20px;
            }

            ul.dropdown-menu {
                li[class^='menu'] {
                    a {
                        font-family: $font-family-sans-serif;
                        font-size: 16px;
                        margin-left: -20px;
                        color: $white;
                    }

                    a:hover {
                        color: $aqua;
                    }
                }

                li[class^='active'] {
                    a {
                        font-family: $font-family-sans-serif;
                        font-size: 16px;
                        margin-left: -30px;
                        color: $white;
                    }
                }
            }

            li[class^='menu'] {
                a {
                    font-family: $font-family-serif;
                    font-size: 20px;
                    color: $white;
                }
            }

            li[class^='active'] {
                a {
                    font-family: $font-family-serif;
                    font-size: 20px;
                }
            }

            li {
                list-style-type: none;
                padding: 10px;
                text-align: left;
                padding-right: 7px;
            }

            li a {
                font-family: $font-family-sans-serif;
                font-size: 14px;
                font-weight: 300;
                color: $white;
                display: block;
            }

            li a:hover {
                color: $aqua;
                text-decoration: none;
            }
        }


        @include respondTo(tablet) {
            overflow: hidden;
            text-align: left;
            list-style-type: none;
            width: 100%;
            display: block;

            a.dropdown-toggle {
                font-family: $font-family-serif;
                font-size: 20px;
            }

            ul.dropdown-menu {
                li[class^='menu'] {
                    display: block;

                    a {
                        font-family: $font-family-sans-serif;
                        font-size: 16px;
                        margin-left: -30px;
                        color: $white;
                    }

                    a:hover {
                        color: $aqua !important;
                    }
                }

                li[class^='active'] {
                    a {
                        font-family: $font-family-sans-serif !important;
                        font-size: 16px !important;
                        margin-left: -20px !important;
                        color: $white !important;
                    }
                }
            }

            li[class^='menu'] {
                a {
                    font-family: $font-family-serif;
                    font-size: 20px;
                }
            }

            li[class^='active'] {
                a {
                    font-family: $font-family-serif;
                    font-size: 20px;
                }

                a:active {
                    color: $aqua;
                }
            }

            li {
                list-style-type: none;
                padding: 10px;
                text-align: left;
                display: inline-block;
                padding-right: 7px;
            }

            li a {
                font-family: $font-family-sans-serif;
                font-size: 14px;
                font-weight: 300;
                color: $white;
                display: block;
            }

            li a:hover {
                color: $aqua;
                text-decoration: none;
            }

            li a:active {
                color: $aqua;
            }
        }


        ul.sub-menu {
            margin-left: -40px;
        }

        ul.dropdown-menu {
            background-color: transparent;
            border: 0;
            min-width: 100%;

            a {
                background-color: transparent;
                color: $white;
            }
        }
    }

    .dropdown-menu {
        position: relative;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    #nav-search-close {
        top: 0px;
        right: 1px;
        position: absolute;
        cursor: pointer;
        background-color: transparent !important;

        img {
            width: 27px;
        }

        :hover {
            background-color: transparent !important;
        }
    }

    .primary-nav {
        // padding: 25% 0;
   
    }
}

.search-submit {
    margin-top: 20px;
}